@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Special+Gothic+Expanded+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


.App{
  background-color: #43B969;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.title{
  margin: 0px;
  font-family: Special Gothic Expanded One;
  font-size: 40px;
  color: black;
  transition: color 2s;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px black;
}
.tag{
  font-family: Neucha;
  font-size: 20px;
}
.btn1{
  font-size: 30px;
  border-radius: 50px;
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  outline: none;
  position: relative;
  top: 150px;
  border: none;

  transition: 0.3s all;
  cursor: pointer;
  font-family: neucha;
}
.btn1:hover{
  transition: ease-in-out 0.3s ;
  background-color: white;
  color: black;
}